h1, h2 {text-align: center;
    color: white;
  }

.container{
  max-width: auto;
  margin: auto;
<<<<<<< HEAD
  background-image: url(images/basilikum.jpeg);

=======
  background-color: purple;
>>>>>>> 3e3f72d8b82461cf5de297a3b774b3ea3105ede6
  }

img {
  display: block;
 margin-left: auto;
 margin-right: auto;
}
.recipe {text-align: center;}


.navbar {
text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #999999;
}

.nav {

  float: left;
  padding: 10px;
  text-align: center;
}
.table {
  background-color: #fff;
}



li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.navimg {
  width: 30px;
}
.card-body {
  background-color: background-color: #999999;;
}
.card-title {
  padding-top: 10px;
}
.footer {
  background-color: #999999;
}
.foot {
  float:left;
  width: auto;
  padding: 10px;
  background-color: #999999;
  color: white;

}
.footbar {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #999999;
}
p {padding: 20px;
    color: white;}

th {
  text-align: center;
  color: black;
}
